body {

}
header{
	position: absolute;
	width: 100%;
	max-width: 1440px;
	top: 0;
	left: 0;
	right: 0;
	margin: 55px auto 0;
	z-index: 1000;
}
@font-face {
	font-family: "HelveticaNeueCyr-Thin";
	src: url("/fonts/HelveticaNeueCyr-Thin.ttf");
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
	font-family: "HelveticaNeueCyr-Med";
	src: url("/fonts/HelveticaNeueCyr-Medium.ttf");
}
@font-face {
	font-family: "HelveticaNeueCyr-Bold";
	src: url("/fonts/HelveticaNeueCyr-Bold.ttf");
}
@font-face {
	font-family: "Oswald";
	src: url("/fonts/Oswaldregular.ttf");
}
@font-face {
	font-family: "Oswald_extra";
	src: url("/fonts/Oswaldextralight.ttf");
}
.dark_body {background-color: #11141A;}
a:link {text-decoration: none;}
p {margin: 0;}

.mg-t-690{margin-top: 690px;}
.mg-t-245{margin-top: 245px;}
.mg-t-160{margin-top: 160px;}
.mg-t-47{margin-top: 47px;}
.mg-t-15{margin-top: -15px;}
.mg-b-210{margin-bottom: 210px;}

.wrap-crumbs{
	max-width: 1440px;
	width: 100%;
	margin: auto;
	position: relative;
}

.bread_crumbs{
	max-width: 1440px;
	position: absolute;
	top: 115px;
	left: 30px;
	z-index: 50;
	margin: auto;
	padding-left: 14px;
}
.bread_crumbs.dark a{color: #3B4150;}
.bread_crumbs a, .bread_crumbs span{
	
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: 14px;
	text-transform: capitalize;

	color: #FFFFFF;

	/* White */
	mix-blend-mode: normal;
	opacity: 0.2;
	padding-right: 5px;
}
#b1{display: block;}
.content{
	padding: 55px 60px 0;
	max-width: 1440px;
	margin: auto;
	background: url('/img/bg/bg_main.png') no-repeat center;
}
.main_content.d-none{opacity: 0; transition: .5s;}
.main_content{
	padding-top: 55px;
	max-width: 1440px;
	height: 760px;
	overflow: hidden;
	margin: auto;
	background: url('/img/bg/bg_main.png') no-repeat center;
	opacity: 1;
	transition: ease-in .5s;
}
.content.dark{
	padding-top: 0;
	max-width: 1440px;
	height: 100%;
	overflow: hidden;
	margin: auto;
	background: transparent;
}
.sell_content{
	padding: 155px 60px 0;
	max-width: 1440px;
	margin: auto;
	background: url('/img/bg/bg_main.png') no-repeat top;
}
.wrap_head
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 0 60px;
}
.wrap_head.white .menu a{
	color: #FFFFFF;
}
.wrap_head.white .nmb_user_basket p{
	color: #FFFFFF;
}
.menu
{
	position: relative;
	margin-left: 10px;
	margin-top: 3px;
	flex-basis: 16%;
	line-height: 10px;
}

.menu a{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
}
.menu a::before
{
	content: '';
	position: absolute;
	background: url('/img/assets/menu.png') no-repeat;
	width: 15px;
	height: 13px;
	left: -25px;
	top: 1px;
}

.nmb_user_basket{
	justify-content: flex-end;
	line-height: 10px;
	position: relative;
	z-index: 15;
}
.nmb_user_basket a{
	display: inline-flex;
	margin-left: 30px;
}
.logo{

}
.nmb_user_basket p{
	font-family: HelveticaNeueCyr;
	font-size: 11px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
	margin-right: 10px;
	margin-top: 4px;
}

.main_h{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	line-height: 144px;
	text-align: center;
	letter-spacing: -5px;
	text-transform: uppercase;
	color: #D91F43;
	margin-top: 102px;
}

.left_side{
	display: inline-flex;
	align-items: center;
	position: absolute;
	left: -72px;
	top: 200px;
	transform: rotate(-90deg);
}
.left_side a {
	transform: rotate(90deg);
	margin-right: 15px;
}

.left_side p{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
}
.kit_review a{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
}

.kit_review{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}
.kit_review a {position: relative;}
.kit_review a:first-child::after{
	content: '';
	position: absolute;
	background: url('/img/assets/moika.png') no-repeat;
	width: 15px;
	height: 16px;
	right: -24px;
	top: -3px;
}
.kit_review a::after{
	content: '';
	position: absolute;
	background: url('/img/assets/krest.png') no-repeat;
	width: 17px;
	height: 17px;
	right: -24px;
	top: -3px;
}
.kit_review a:last-child::after{
	content: '';
	position: absolute;
	background: url('/img/assets/cube.png') no-repeat;
	width: 15px;
	height: 16px;
	right: -24px;
	top: -3px;
}

.m_img {overflow-y: hidden;}
.m_img img{
	margin-top: -66px;
	width: 100%;
}

.scroll_arrow{
	position: absolute;
    top: 545px;
    left: 13px;
    transform: rotate(-90deg);
    font-family: HelveticaNeueCyr;
    font-size: 9px;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3B4150;
}
.scroll_arrow::after{
	content: '';
	background: url('/img/assets/arrow.svg');
	position: absolute;
	top: -17px;
	left: -39px;
	width: 9px;
	height: 44px;
	transform: rotate(90deg);
}


/*******scroll_bar*******/
.scroll_bar{
	position: absolute;
	top: 81px;
	right: 62px;
	width: 12px;
	height: 583px;
	border-right: solid #3B4150 1px;
}

.scroll_bar p{
	font-family: HelveticaNeueCyr;
	font-size: 13px;
	line-height: normal;
	text-align: right;
	text-transform: uppercase;
	color: transparent;
}
.scroll_bar p::after{
    content: '';
    position: absolute;
    top: 7px;
    right: -19px;
    width: 6px;
    height: 1px;
    background-color: #3B4150;
}

.scroll_bar p.active{
	display: block;
	color: #D91F43;
}
.sb_1{
	position: absolute;
	top: -8px;
	left: -21px;
}

.sb_1::after{
	content: '';
	position: absolute;
	top: 8px;
	right: -18px;
	width: 5px;
	height: 1px;
	background-color: #3B4150;
}

.sb_1.active::after{
	width: 12px;
	background-color: #D91F43;
}
.sb_1.active::before{
	content: '';
	position: absolute;
	top: 3px;
	right: -23px;
	width: 9px;
	height: 9px;
	border: solid #D91F43 1px;
	transform: rotate(45deg);
}

.sb_2{
	position: absolute;
	top: 115px;
	left: -21px;
}

.sb_3{
	position: absolute;
	top: 230px;
	left: -21px;
}

.sb_4{
	position: absolute;
	top: 345px;
	left: -21px;
}

.sb_5{
	position: absolute;
	top: 460px;
	left: -21px;
}

.sb_6{
	position: absolute;
	top: 575px;
	left: -21px;
}


/*********popup*********/

.popup{
	position: absolute;
	width: 100%;
	height: 760px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(255, 255, 255, 0.95);
	backdrop-filter: blur(8px);
/* Note: backdrop-filter has minimal browser support */
}

.wrap-selection{
	display: flex;
	justify-content: center;
	margin-top: 222px;
}


.selection{
	text-align: center;
	margin: 0 20px;
}
.close_popup{
	margin-top: 58px;
	cursor: pointer;
	position: relative;
	padding-left: 18px;
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
}

.close_popup::before{
	content: '';
	position: absolute;
	left: 0px;
	top: 4px;
	width: 14px;
	height: 1px;
	background-color: #3B4150;
	transform: rotate(45deg);
}

.close_popup::after{
	content: '';
	position: absolute;
	left: 0px;
	top: 4px;
	width: 14px;
	height: 1px;
	background-color: #3B4150;
	transform: rotate(-45deg);
}

.m_h2 span{
	font-family: Oswald_extra;
	font-style: normal;
	font-size: 48px;
	line-height: 53px;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: #D91F43;
}

.m_h2 {
	margin-top: 77px;
	font-family: Oswald;
	font-style: normal;
	font-size: 48px;
	line-height: 53px;
	letter-spacing: -2px;
	text-transform: uppercase;
	color: #3B4150;
}

.m2_img img{
	max-width: 736px;
	min-height: 285px;
}

.m2_info{
	width: 42px;
	height: 42px;
	background-color: #D91F43;
	border-radius: 50%;
	box-shadow: 0px 10px 20px rgba(217, 31, 67, 0.4);
	position: relative;
	cursor: pointer;
	position: absolute;
	top: 232px;
	left: 434px;
	transition: ease-in .5s;
	z-index: 50;
/*	transform: matrix(-1, 0, 0, 1, 0, 0);*/
}

.m2_info::before{
	content: '';
	position: absolute;
	width: 12px;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.m2_info::after{
	content: '';
	position: absolute;
	width: 2px;
	height: 12px;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.m2_txt{
	position: absolute;
    top: -233px;
    left: -228px;
	width: 270px;
	height: 262px;
	background: #D91F43;
	border-radius: 3px;
	text-align: left;
	padding: 11px 20px;
	transform: rotate(-45deg);
	opacity: 0;
	cursor: default;
	transition: ease-in .5s;
}
.m2_info.active {
	display: block;
	transform: rotate(45deg);

}
.m2_info.active .m2_txt{
    top: -233px;
    left: -228px;
    opacity: 1;
}
.m2_txt::before{
	content: '';
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #3B4150;
	opacity: 0.2;
}

.m2_txt span{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #F7748E;
}

.m2_txt h4{
	font-family: HelveticaNeueCyr-Bold;
	font-size: 17px;
	line-height: normal;
	text-transform: uppercase;
	color: #ffffff;
}
.m2_txt p{
	margin-top: 19px;
	width: 230px;
	height: 162px;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
}

#btn_2{
	top: 449px;
    left: 688px;
}

#btn_3{
	top: 477px;
	left: 732px;
}
#btn_4{
    top: 310px;
    left: 400px;
}
#btn_4-1{
	top: 260px;
    left: 520px;
}
#btn_4-2{
    top: 310px;
    left: 830px;
}
#btn_5{
	top: 245px;
    left: 615px;
}
#btn_5-1{
	top: 357px;
    left: 857px;
}
#btn_6{
	top: 270px;
    left: 730px;
}
.kit_review.right-side{
	margin-top: 126px;
	margin-right: 15px;
	margin-bottom: 43px;
	justify-content: flex-end;
}
.kit_review.right-side a{
	margin-left: 54px;
}

.wrap_img_cnt{
	max-height: 285px; 
}

.content.last{
	background: url('/img/bg/bg_main.png') no-repeat top -450px center;
}
/*.wrap_last_bg{
	background: url('/img/main/07.svg') no-repeat;
}
*/

.last_main_h{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 53px;
	text-align: center;
	text-transform: uppercase;
	color: #3B4150;
	margin-top: 120px;
}
.last_main_txt{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	color: #3B4150;
}

.bg_last_main{
	position: relative;
	margin-top: 180px;
	background: url('/img/main/bg_last.svg') no-repeat;
}
.kit_review.last{
	position: absolute;
    justify-content: center;
    top: 235px;
    left: 0;
    right: 0;
    margin: auto;
}
.kit_review.last a{
	margin: 0 25px;
}

.wrap_img_m2 img{
	position: relative;
	top: -174px;
}


/**********menu**********/
.menu_hide{
	background:  url('/img/assets/bg_menu.png') no-repeat;
	position: absolute;
	top: -55px;
	left: -100%;
	width: 100%;
	height: 760px;
	transition: ease-in-out .7s;
	z-index: 100;
}
.menu_link{
    background: url('/img/assets/menu_lines.png') no-repeat;
    background-size: contain;
    width: 685px;
    height: 725px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 180px;
}
.menu_hide.active{
	left: 0;
}

.menu_hide.active .menu_link a{
	opacity: 1;
}

/* Каталог */
.menu_link a{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 19px;
	color: #FFFFFF;
	margin-bottom: 33px;
	opacity: 0;
	transition: 1.5s;
}

.menu_link span{
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: normal;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.3;
}

.close_menu{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
	position: absolute;
	top: 71px;
	left: 92px;
	z-index: 110;
}

.close_menu::before{
	    content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: -80px;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
}
.close_menu::after{
	content: '';
    position: absolute;
    width: 14px;
    height: 2px;
    background-color: #fff;
    top: 0;
    left: -80px;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(-45deg);
}


#main_03{
	max-width: 936px;
	position: relative;
	top: -90px;
	width: 100%;
}
#main_04{
	max-width: 831px;
	position: relative;
	top: -90px;
	width: 100%;
}

#main_05{
	max-width: 740px;
	position: relative;
	top: -90px;
	width: 100%;
}

#main_06{
	max-width: 435px;
	position: relative;
	top: -145px;
	width: 100%;
}

/*******company*******/

.company_b1{
	margin-top: 174px;
}

.company_b1 img{
	margin-top: 61px;
}

#pre_h1{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1.1em;
	text-transform: uppercase;

	color: #FFFFFF;
	mix-blend-mode: normal;
}

.company_b1 p{
	font-family: HelveticaNeueCyr-Thin;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	color: #FFFFFF;
	max-width: 736px;
	margin: 52px auto 0;
}

.company_b1 span{
	color: #D91F43;
}

#bg_company_1{
	position: relative;
	padding-top: 55px;
	padding-bottom: 150px;
	background: url('/img/global/dark_vector.svg') no-repeat center;
	background-position-y: 0;
	z-index: 5;
}
#bg_company_2{
	position: relative;
	background: url('/img/company/bg_2.svg') no-repeat;
	background-position-x: -46px;
	background-position-y: -40px;

	margin-top: -150px;
	z-index: 0;
}

#bg_company_3{
	max-width: 1440px;
	width: 100%;
	margin: auto;
	position: relative;
	background: url('/img/company/bg_3.svg') no-repeat;
	background-position-x: -46px;
	background-position-y: -40px;
	z-index: 0;
}

.wrap-company-b2{
	max-width: 460px;
}
.wrap-company-b2 span{
	color: #FFFFFF;
}
.wrap-company-b2 p{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 24px;

	color: #59595E;
}


.bg_c_3_img img{
	width: 100%;
}

.bg_c_3_txt{
	max-width: 275px;
	padding-left: 20px;
}

.bg_c_3_txt p{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 24px;

	color: #59595E;
}

.bg_c_3_txt span{
	color: #FFFFFF;
}


.wrap_cmpy_cnt{
	margin-top: 112px;
}

.wrap_cmpy_cnt p{
	max-width: 700px;
	margin: 40px auto 0;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 24px;
	text-align: center;

	color: #59595E;
}

.wrap_cmpy_cnt a{
	font-family: HelveticaNeueCyr;
	display: block;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	margin-top: 46px;
	margin-bottom: 185px;
	color: #FFFFFF;
}

.footer .logo_white{
	background: url('/img/global/bg_foo.svg') no-repeat;
	height: 205px;
	position: relative;
}

.footer .logo_white::before{
	content: '';
	position: absolute;
	width: 2px;
	height: 60px;
	background: linear-gradient(to top, #FFFFFF 50%, #D91F43 50% );
	bottom: -30px;
	left: 0;
	right: 0;
	margin: auto;
}

.first_column p{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	opacity: 0.3;
}

.telephone a, .email a{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	padding-left: 5px;
}


.cnt-contacts{
	padding: 160px 40px 40px;
	max-width: 1440px;
	margin: auto;
	background: url('/img/bg/bg_main.png') no-repeat center;
	background-position-y: -120px;
}

.main_h2{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 53px;
	text-align: center;
	margin-bottom: 55px;
	color: #3B4150;
}

.map{
	max-width: 640px;
	max-height: 470px;
	background: #FFFFFF;
	box-shadow: 0px 15px 35px rgba(24, 47, 63, 0.15);
	border-radius: 3px;
	position: relative;
}

.contacts_form{
	max-width: 1322px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wrap_contacts_form p{
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: normal;
	color: #000000;
	text-align: center;
	margin-top: 23px;
	opacity: 0.5;
}

#cnt_captcha{
	width: 100%;
	max-width: 170px;
	height: 50px;
	margin-left: 10px;
	mix-blend-mode: normal;
	border: 1px solid rgba(112, 114, 125, .3);
	box-sizing: border-box;
	border-radius: 1px;
	padding-left: 15px;
}

.txt_input {
	display: flex;
	align-items: center;
	width: 50%;
}
#txt_area{
	width: 100%;
	height: 110px;
	resize: none;
	mix-blend-mode: normal;
	border: 1px solid rgba(112, 114, 125, .3);
	box-sizing: border-box;
	border-radius: 1px;
}
.contacts_submit, .sell_submit{
	margin: 30px auto 0;
	width: 220px;
	height: 50px;
	color: #FFFFFF;
	background: #D91F43;
	border-radius: 1px;
	border: none;
	box-shadow: 0px 10px 40px rgba(217, 31, 67, 0.5);
}

.cnt_form_flex{
	display: flex;
	flex-direction: column;
	width: 23%;
}

.cnt_form_flex div{
	height: 50px;
	justify-content: space-between;
	width: 100%;
}

.cnt_form_flex input:first-child{
	margin-bottom: 10px;
}

.cnt_phone, .cnt_mail{
	width: 100%;
	height: 50px;
	mix-blend-mode: normal;
	border: 1px solid rgba(112, 114, 125, .3);
	box-sizing: border-box;
	border-radius: 1px;
	padding-left: 15px; 
}
.contacts_mail{
	margin: 70px 0 40px;
}

.contacts_mail a{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 22px;
	text-decoration-line: underline;
	color: #3B4150;
}

.contacts_mail p{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: normal;
	color: #3B4150;
	opacity: 0.5;
}

.cnt{
	max-width: 1440px;
	margin: auto;
}

.map-info{
	background: #FFFFFF;
	border-radius: 3px;
	position: absolute;
	bottom: 26px;
	left: 30px;
	padding: 16px;
	width: 265px;
	height: 265px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.map-info p{
	font-family: HelveticaNeueCyr;
	width: 100%;
	font-size: 14px;
	line-height: 18px;
	color: #3B4150;
	border-bottom: 1px solid #EEF0F5;
	padding-bottom: 6px;
}
.map-info p:last-child{
	border-bottom: none;
}

.map-info span{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #576078;

	mix-blend-mode: normal;
	opacity: 0.6;
}


/*********sell_card*********/



.sell_info{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #EEF0F5;
	padding-bottom: 15px;
}
.product{
	flex-basis: 40.5%;
	padding-left: 27px;
}
.product_costs{
	flex-basis: 18.5%;
}
.product_items{
	flex-basis: 20%;
}
.product_all{
	flex-basis: 20%;
}

.sell_info p{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: left;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #576078;

	mix-blend-mode: normal;
	opacity: 0.6;
}

.item_sells{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #EEF0F5;
	height: 99px;
}

.item_sell{
	display: flex;
	align-items: center;
	flex-basis: 40%;
}
.item_sell p{
	padding-left: 10px;
}

.item_sell img{
	max-width: 112.22px;
}

.item_cost{
	flex-basis: 19%;
}

.items_sell{
	display: flex;
	align-items: center;
	flex-basis: 19%;
}

.items_sell div{
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	mix-blend-mode: normal;
	border: 1px solid #EEF0F5;
	box-sizing: border-box;
	border-radius: 1px;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	text-align: center;
	color: #3B4150;
	margin: 0 5px;
}

.items_sell span{
	font-family: HelveticaNeueCyr;
	font-size: 18px; 
	color: #3B4150;
}

.items_cost{
	flex-basis: 19%;
}

.delete_item{
	flex-basis: 3%;
}

.close_sell_item{
	display: inline-block;
	cursor: pointer;
	color: #3B4150;
	font-size: 32px;
	transform: rotate(45deg);
}



.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio + label {
  position: relative;
  padding: 0 0 0 27px;
  cursor: pointer;
}
.radio + label:before {
  content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
    border: 1px solid #3B4150;
    box-sizing: border-box;
    border-radius: 34px;
}
.radio + label:after {
	content: '';
    position: absolute;
    top: 4px;
    left: 0px;
    width: 16px;
    height: 16px;
    border: 5px solid #D91F43;
    box-sizing: border-box;
    border-radius: 18px;
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
  opacity: 1;
}

.in_radio{
	display: flex;
	justify-content: space-between;
}

.sell_form{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
}
.sell_form span{
	margin-bottom: 10px;
}

.sell_radio, .sell_input{
	display: flex;
	flex-direction: column;
}
.sell_radio{
	margin-bottom: 18px;
}
.sell_radio label{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 24px;
	color: #3B4150;
}

.pay_card{
	width: 330px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(33, 56, 69, 0.1);
    font-family: HelveticaNeueCyr;
    font-size: 14px;
    line-height: 20px;
    color: rgb(59, 65, 80, .5);
    position: absolute;
    left: -154px;
    top: -128px;
    opacity: 0;
    z-index: -20;
    transition: ease-in .3s;
}

.pay_card_hov{
	position: absolute;
	left: 200px;
	top: 64px;
}

.pay_card_hov:hover .pay_card{
	opacity: 1;
	z-index: 20;
}


.pay_card::before{
	position: absolute;
    bottom: -5px;
    left: 48%;
    content: ' ';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 0px 12px 12px;
    border-color: transparent transparent transparent #ffffff;
    line-height: 0px;
    transform: rotate(-135deg);
}
.sell_input input, .sell_input select{
	max-width: 300px;
	width: 100%;
	height: 50px;
	padding-left: 20px;
	mix-blend-mode: normal;
	border: 1px solid rgba(112, 114, 125, .3);
	box-sizing: border-box;
	border-radius: 1px;
	margin-bottom: 10px;
}

.wrap-item-sell{
	margin-bottom: 40px;
}

.in_radio div:first-child{
	margin-right: 40px;
}

.sell_btn{
	text-align: center;
}

.sell_btn p{
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: normal;
	color: #000000;
	opacity: 0.5;
	margin-top: 25px;
}

.sell-weight p, .sell-costs p{
	font-family: HelveticaNeueCyr;
	font-size: 24px;
	line-height: normal;
	color: rgba(59, 65, 80, .5);
}

.sell-weight span, .sell-costs span{
	font-family: HelveticaNeueCyr;
	font-size: 24px;
	line-height: normal;
	color: #3B4150;
}
.help_sell{
	display: flex;
	justify-content: space-between;
	margin-top: 48px;
	margin-bottom: 20px;
}
.help_sell a{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	text-decoration-line: underline;
	color: #3B4150;
}

.help_sell img{
	margin-right: 15px;
}

.wrap-sell-weight{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #EEF0F5;
	border-bottom: 1px solid #EEF0F5;
	padding-bottom: 40px;
	margin-top: 40px;
}
.md-open, .sm-open{display: none!important;}

.wrap_cabinet{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrap_cabinet p{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
}
.wrap_cabinet span{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.2;
}
.wrap_cabinet div{position: relative;}
.user {display: flex; padding-right: 25px;}
.balance, .level, .next_pay {padding-right: 25px; max-width: 192px; min-height: 50px; width: 100%; display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; padding: 3px 0;}
.user {max-width: 252px; padding-right: 25px; width: 100%;}
.user div{ display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; padding: 3px 0;}
.user::before, .balance::before, .level::before, .next_pay::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: #FFFFFF;
	opacity: .1;
	right: 0;
	top: 0;
}

.content_user{
	max-width: 1440px;
	height: 100%;
	margin: auto;
	padding: 170px 30px 0;
	background: url('/img/global/dark_vector.svg') no-repeat center;
}
.user img{padding-right: 10px;}


.user_docs a{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: normal;

	color: #FFFFFF;
}

.wrap_user_card{
	margin-top: 30px;
}
.user_card{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.user_card a{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: normal;
	text-align: center;
	color: rgba(255, 255, 255, .2);
	padding: 10px 20px;
}
.user_card a.active{
	background-color: #1C1D26;
	border-radius: 3px 3px 0 0;
}
.usr_cnt_info{
	background: #1C1D26;
	padding: 30px;
}

.order_info{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 50px;
	text-align: center;
	background: #242530;
	border-bottom: 1px solid #2C2E3B;
}

.order_id{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
}
.order_id.expected{
	color: #E9AC0E;
}
.order_id.sucsess{
	color: #54B063;
}
.order_id.fail{
	color: #D91F43;
}
.order_info div, .order_info a{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
}
.order_info div{border-right: 1px solid #2C2E3B; min-height: 50px; display: flex; justify-content: center; align-items: center;}
.order_info div:last-child{border-right: none;}
.order_info a{text-decoration: underline;}
.order_id, .order_read{ flex-basis: 10%; }
.order_status {flex-basis: 30%;}
.order_cost{flex-basis: 25%;}
.pay_system {flex-basis: 25%;}
.order_bar p{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;

	mix-blend-mode: normal;
	opacity: 0.2;
}
.order_bar{display: flex; justify-content: space-between; margin-bottom: 17px;}
.order_bar p:first-child, .order_bar p:last-child {flex-basis: 10%;}
.order_bar p:nth-child(2) {flex-basis: 30%;}
.order_bar p:nth-child(3), .order_bar p:nth-child(4) {flex-basis: 25%;} 
.wrap_order_info, .wrap_products {
	border-radius: 2px;
	overflow: hidden;
	border: 1px solid #2C2E3B;
}
.wrap_order_info div:last-child{border-bottom: none;}
#order_table{
	padding: 30px;
}
.wrap_order_info div:nth-child(even){
	background-color: transparent;
}
.wrap_my_company .my_company_box:nth-child(even){
	background-color: #242530;
}
.tab_order{display: none;}
#tab-1{display: block;}

.products_form{
	display: flex;
	justify-content: space-between;
}

.input_article{
	width: 100%;
	min-height: 50px;
	border: 1px solid #2C2E3B;
	box-sizing: border-box;
	border-radius: 3px 0 0 3px;
	background-color: transparent;
	padding-left: 20px;
	outline: none;

	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;
	mix-blend-mode: normal;
}
.article_submit{
	width: 100%;
	max-width: 155px;
	min-height: 50px;
	background: #D91F43;
	border-radius: 0 3px 3px 0;
	border: none;

	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;
	mix-blend-mode: normal;
}

.products_info{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	color: #FFFFFF;

	/* White */
	mix-blend-mode: normal;
	opacity: 0.2;

	display: flex;
	justify-content: flex-start;
	margin: 20px 0;
}

.products_info p:first-child{flex-basis: 11%; text-align: center;}
.products_info p:nth-child(2){flex-basis: 41%; padding-left: 25px;}
.products_info p:nth-child(3),
.products_info p:nth-child(4),
.products_info p:nth-child(5),
.products_info p:nth-child(6){flex-basis: 12%; text-align: center;}

.products_box, .tracking{
	display: flex;
	justify-content: space-between;
	background-color: #242530;
	border-bottom: 1px solid #2C2E3B;
}
.products_box div{
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right:  1px solid #2C2E3B;
}
.products_img{flex-basis: 11%;}
.products_name{flex-basis: 41%;}
.products_article{flex-basis: 12%;}
.products_balance{flex-basis: 12%;}
.products_cost{flex-basis: 12%;}
.products_basket{flex-basis: 12%;}

/* Коллекция кухонных м */

.products_box div, .products_box a{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
}

.products_name{
	justify-content: flex-start!important;
	padding-left: 25px;
}
.products_box a{
	text-decoration: underline;
}

.tracking div{

}
.tracking{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
	border: 1px solid #2C2E3B;
	border-radius: 2px;
}
.tracker_info{
	display: flex;
	justify-content: space-between;
}
.tracking_id{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
}
.tracking_id, .tracking_name, .tracking_cost{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
	min-height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #2C2E3B;
	border-bottom: 1px solid #2C2E3B;
}
.tracking_id, .tracking_cost {flex-basis: 15%;}
.tracking_name {flex-basis: 70%;}
.tracking_bar{flex-basis: 100%; display: flex; flex-basis: 100%; min-height: 102px; align-items: center; background-color: #1C1D26; position: relative; overflow: hidden;}
.tracking_bar::before{
	content: '';
	position: absolute;
	width: 78%;
	max-width: 1090px;
	height: 1px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: #2C2E3B;
}
.tracking_bar div{ flex-basis: 20%; text-align: center; min-height: 55px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; position: relative;}
.tracking_bar img{position: relative; z-index: 5;}
.tracking_bar p{
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;

	color: #FFFFFF;

	/* White */
	mix-blend-mode: normal;
	opacity: 0.2;
}

.tracking_bar span{
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.2;
}

.tracking_name{ justify-content: flex-start!important; padding-left: 54px;}
.wrap_tracking{margin-top: 20px;}
.tracking_bar div.active p, .tracking_bar div.active span{opacity: 1;}
.tracking_bar div span{opacity: 0;} .tracking_bar div.active span{opacity: .2;}
.tracking_bar div img{opacity: 0.2;} .tracking_bar div.active img, .tracking_bar div.weiting img{opacity: 1;}


.tracking_id.weiting{
	color: #E9AC0E;
}

.tracking_id.sucsses{
	color: #54B063;
}
.tracking_bar div.active::before{
	content: '';
    position: absolute;
    left: 132px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: #E9AC0E;
}

.tracking_bar div.weiting::before{
	content: '';
    position: absolute;
    left: 132px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 45%;
    height: 1px;
    background-color: #E9AC0E;
}

.tracking_bar div.sucsses::before{
	content: '';
    position: absolute;
    left: 132px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: #54B063;
}

.tracking_bar div.sucsses:last-child::before{
	content: '';
    position: absolute;
    left: 132px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 45%;
    height: 1px;
    background-color: #54B063;
}


.my_company_box, .my_compay_info{
	display: flex;
}
.my_compay_info p{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.2;
}
.my_company_box p{line-height: 1.3;}
.my_company_box p, .my_company_name, .my_company_balance{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	color: #FFFFFF;
}
.my_company_box span{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	color: #FFFFFF;
	opacity: 0.3;
}

.my_company_box div{
	border-right: 1px solid #2C2E3B;
	    padding: 15px 5px 30px 20px;
}
.wrap_my_company{
	border: 1px solid #2C2E3B;
}

.my_company_name{flex-basis: 17%;}
.my_company_balance{flex-basis: 14%;}
.my_company_contacts{flex-basis: 23%;}
.my_company_requisites{flex-basis: 50%;}

.manager{
	display: flex;
	justify-content: space-between;
}

.manger_photo{flex-basis: 6%;}
.manager_name{flex-basis: 24%;}
.manager_position{flex-basis: 10%;}
.manager_phone{flex-basis: 22%;}
.manager_mail{flex-basis: 21%;}
.manager_callback{flex-basis: 16%;}
.manager_mail a{display: block;}
.manager p, .manager a{
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;

	color: #FFFFFF;
}
.manager div{display: flex; justify-content: space-around; align-items: flex-start; flex-direction: column;}
.manager a{text-decoration: underline;}

.manager span{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
	opacity: 0.2;
}

.man_btn{
	width: 100%;
	height: 50px;
	background: #D91F43;
	border-radius: 1px;
	border: none;

	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	mix-blend-mode: normal;
}
