body {
}
header{
	position: absolute;
	width: 100%;
	max-width: 1440px;
	top: 0;
	left: 0;
	right: 0;
	margin: 39px auto 0; 
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
	font-family: "HelveticaNeueCyr-Med";
	src: url("/fonts/HelveticaNeueCyr-Medium.ttf");
}
@font-face {
	font-family: "Oswald";
	src: url("/fonts/Oswaldregular.ttf");
}
a:link {text-decoration: none;}
p {margin: 0;}
.content{
	padding-top: 55px;
	max-width: 1440px;
	margin: auto;
	background: url('/img/bg/bg_main.png') no-repeat center;
}
.wrap_head_white
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
}

.menu_white
{
	position: relative;
	margin-left: 25px;
	flex-basis: 13%;
	margin-top: -16px;
}

.menu_white a{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
}
.menu_white a::before
{
	content: '';
	position: absolute;
	background: url('/img/constructor/menu.png') no-repeat;
	width: 15px;
	height: 13px;
	left: -25px;
	top: 7px;
}

.nmb_user_basket_white{
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -10px;
	margin-right: 4px;
}
.nmb_user_basket_white a{
	margin-left: 30px;
	margin-top: -2.5px;
}
.logo_white{
	padding-top: 16px;
}	
.nmb_user_basket_white p{
	font-family: HelveticaNeueCyr;
	font-size: 11px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	margin-top: 2px;
}

.content.line_process{
	background: none;
}
#first_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg.png') no-repeat center;
}
.line_process{	
	display: flex;
	align-items: center;
	padding-top:29px;
	padding-left: 85px;
}
.plus{
	display: block;
	max-width: 10px;
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	color: rgb(145,147,149);
	margin: 0 -2px;	
}

#first_plus{
	margin-right: 5px;
}

.plus>div>p{
	width: 150px;
	margin-left: -69px;
	padding-top: 14px;
	color: white;
	opacity: 0.5;
}
.dotes>div>p{
	width: 150px;
	margin-left: -69px;
	color: white;
	opacity: 0.5;
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}
.dotes img{
	margin-top: -16px;
}
#first_plus{
	margin-right: 5px;	
}
.line	{
	margin-top: -20px;
	margin-left: 5px;
	margin-right: 4px;	
	height: 2px;
	width: 232px;
	background-color: rgb(115,117,122);
}
.line.bigger{
	width: 224px;	
}

#four_div{
	margin-left: -3px;
}


.choose{	
	display: flex;
	margin-left: 53px;
	margin-top: 64px;
}
.left_arrow{
	text-align: right;
	margin-right: -18px;
	margin-top: 67px;
}
.name{
	margin-top: 43px;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	color: rgb(145,147,149);
	margin-left: 55px;

}

#name_name{
	font-size: 36px;
	line-height: normal;
	font-weight: none;
	color: white;
	padding-bottom: 5px;
}
.colors{
	margin-left: -3px;
	margin-top: 12px;
	display: flex;
}

.colors div{
	margin-right: 13px;
	border: 1px solid rgb(115,117,122);	
	border-radius: 11px;
	height: 22px;
	width: 22px;
}

.colors div img{
	margin-left: 2px;
	margin-top: -10px;
}

#info{
	margin-top: 45px;
	margin-right: 55px;
	color: rgb(145,147,149);	
}
#info p{
	margin-top: 13px;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	text-align: right;
}
#info_symbol{
	display: block;
	text-align:right;
	padding-right: 65px;
	padding-top: 2px;
}
.right_arrow{
	margin-left: -19px;
	margin-top: 67px;
}

#button_red_arrow{
	padding-top: 42px;
	background: none;
}

.button_add{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;
	padding: 20px 59px;
	background-color: #D91F43;
	width: auto;
	margin-top: -12px;
	margin-right: -64px;
	display: inline-flex;
	position: absolute;
	right : 15px;
	box-shadow: 0px 10px 40px rgba(217, 31, 67, 0.5);
	margin-bottom: 40px;
}

.choose_desk{
	display: flex;
	align-items: center;
	margin-top: 8px;
	position: absolute;
	right : -18px;
}
.choose_desk *{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #D91F43;
	margin-right: 10px;
}

footer{
	position: absolute;
	width: 100%;
	max-width: 1440px;
	top: bottom;
	left: 0;
	right: 0;
	margin: 0 auto; 
}

#footer{
	background: none;
}
.footer{
	margin-top: 13px;
	background: url('/img/constructor/bg_footer.png') no-repeat left top;
	background-color: #1C1D26;
}

.footer > .logo_white{
	padding: 0;
	text-align: center;
	padding-top: 82px;
}

.vert_line{
	padding: 0;
	text-align: center;
	padding-top: 41px;
}

.wrap_foot{
	display: flex;
	justify-content: space-between;
	padding-top: 39px;
	padding-bottom: 50px;
}
.telephone{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.email{
	display: flex;
	align-items: center;
	margin-bottom: 67px;
}
.label_telephone{
	color: white;
	opacity: 0.3;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	margin-right: 4px;
}

.label_email{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	margin-right: 4px;
	opacity: 0.3;
}

.telephone_number{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
}
.email_address{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
}

.up_sign{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 15px;
}

.down_sign{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: 15px;
	width: 300px;
	opacity: 0.3;
}
.contacts{
	margin-left: 59px;
}

.sign{
	margin-right: 51px;
}

.down-footer{
	display: flex;
	line-height: 116px;
	align-items: center;
	justify-content: space-around;
}

.copyright{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	opacity: 0.3;
}
.social_sites{
	display: flex;
	justify-content: space-around;
	max-width: 200px;
	width: 193px;
	margin-top: 91px;
}

.email_form>input{
	margin-top:33px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.3);
	outline: none;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	padding: 17px 19px;
	width: 290px;
	background: url('/img/constructor/right_arrow.png') no-repeat right 7% center;
}

.first_column{
	margin-left: 59px;
	flex-basis: 20.3%;
}