.m_h2 {margin-left: 45px;} .kit_review.right-side{margin-right: 80px;} .menu{flex-basis: 19%; z-index: 15;}
#bg_company_2{background: url('/img/company/bg_2.svg') no-repeat center;} 
.item-image{align-items: center;} .item-image img{max-width: 220px; max-height: 155px;}