.menu_link {background: url(/img/assets/menu_lines.png) no-repeat; height: 450px; padding: 0; left: 10px; top: 10px; background-size: 225px 450px; width: 100%; padding: 110px 0 0 35px;}
h1.main_h{font-size: 48px;} .wrap_head{padding: 0;} .sm-open{display: block!important;}
.nmb_user_basket a{margin-left: 20px;} .menu a::before{left: -5px; top: -3px;} .main_h{font-size: 44px; line-height: 44px; letter-spacing: -2px; margin-top: 0;}
.main_content {height: auto;} .menu_hide{height: 470px; top: -20px; width: 250px; background-size: 250px 470px;}
.left_side{top: 285px; left: -100px;} .kit_review{top: 330px; right: -20px;} .sm-none{display: none!important;} .m_img img{max-width: 206px;} .m_img{text-align: center;}
.menu_link a{font-size: 24px; line-height: 24px; margin-bottom: 25px;}.close_menu{top: 32px; left: 44px; }

#item-card{padding-top: 71px;} .central-item{width:auto; margin-top:-18px; margin-bottom:48px;} .central-item>img{margin: 0 auto;} .little-left-arrow, .little-right-arrow{cursor: pointer;}
.colors{margin:0; max-width: 135px; width: 100%;} .add-to-basket p{padding: 14px 100px;} .colors>div{width: 15px; height:15px;} .colors>div>div{width: 12px; height: 12px;} .mg-b-15{margin-bottom:15px;}
.fotorama__stage{width: 0 !important; height: 0 !important;} .fotorama__nav__frame.fotorama__nav__frame--thumb{margin-right: 10px; width: 78px !important; height: 78px !important;}

.fotorama__nav__frame.fotorama__nav__frame--thumb:after{
	content: "";
    display: block;    
    width: 100%;
    height: 100%;    
    position: absolute;
    top: 0;      
    left: 0;   
    background: transparent;
    opacity: 1; 
}

.fotorama__nav__frame.fotorama__active div{ 
    width: 78px !important; height: 78px !important; border: solid 2px #D91F43; /*неанимированная рамка. можно навесить анимацию, стоит ровно на слайде*/
} 
.fotorama{
	margin-bottom:22px;
}

.advanced-items{
	margin-bottom: 21px;
}

.advanced-items p{
	font-size: 8px;
}

.label-advanced{
	margin-bottom:15px;	
}

.advanced-items>div div{
	height: 220px;
}

.description_table{
	margin-top: 0;
	margin-bottom: 20px;
}

.description_table h4{
	text-align: left;
	margin-bottom:4px;
}

.descript h4{
	text-align: left;
	margin-bottom:10px;
}

.descript p{
	text-align: left;
	line-height: 18px;
	max-width: 436px;
	width: 106%;
}
.descript{
	margin-bottom: 10px;
}

.description_table div{
	padding: 10px 0;
}

.tablet-share p{
	margin-bottom:15px;
}

.tablet-share{
	margin-bottom: 15px;
	margin-top: 15px;
}

.tablet-share div{
	width: 110px;
}

.tablet-share a{
	margin-right: 15px;
	border: 1px solid rgba(112, 114, 125, .3);
	width: 20px;
	height: 20px;
}

.tablet-share a:nth-child(1){
	background: url('/img/item-card/facebook-tablet.png') center center no-repeat;
}
.tablet-share a:nth-child(2){
	background: url('/img/item-card/instagram-tablet.png') center center no-repeat;
}
.tablet-share a:nth-child(3){
	background: url('/img/item-card/vk-tablet.png') center center no-repeat;
}

.display-none-mobile{
	display: none !important;
}

#item-card{
	padding: 0 10px;
	padding-top: 71px;
}

.central-item{
	margin-top: -118px;
	margin-bottom: 0;
}

.central-item img{
	min-width: 0;
	max-width: 200px;
}

.mg-t--67{
	margin-top: -67px;
}

.add-to-basket{
	margin-top: 32px;
}

.add-to-basket p {
	padding: 14px 88px;
}

.advanced-items>div div{
	padding-top: 20px;
	height: 185px;
}

.advanced-items img{
	width: 50%;
}

.add-to-basket p{
	padding: 0;
	line-height: 40px;
	text-align: center;
}

.flex-basis-manual{
	flex-basis:100%;
}
/*****CONFLICT*****/
h1.main_h{font-size: 44px; line-height: 44px; letter-spacing: -2px;}
.m2_img img{width: 100%; min-height: auto;} .m_h2, .m_h2 span{font-size: 28px; line-height: 33px;} .m_h2{margin-top: 20px; margin-bottom: 30px;}
.m2_img {margin-top: 0;} .wrap_img_cnt{padding: 0 25px;}
#main_06 {top: -36px;}  .wrap_img_m2 img {bottom: 0;} .bg_last_main{height: 180px;}
.last_main_txt{padding: 0 25px;} .company_b1{margin-top: 60px;}
/*****CONFLICT*****/

#catalog{
	padding-right: 15px;
	padding-left: 15px;
}
.left-side{
	padding: 15px;
}

.filter-window>div{
	color:white;
	max-width: 318px;
	width: 100%;
	height: 40px;
}

.choose-category{
	margin-right: 0;
	margin-bottom: 15px;
}

.sort>div:nth-child(2){
	margin-left: 0;
}

.model-and-cost div p:first-child{
	font-family: HelveticaNeueCyr;
	font-size: 6px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.model-and-cost div p:last-child{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: normal;
	color: #3B4150;
}

.item{
	height: 150px;
	margin-bottom: 5px;
	position: relative;		
}
.item>div{
	margin-top: 10px;
}

.filter-window > div{
	max-width: 100%;
}

.model-and-cost{
	position: absolute;
	width: 100%;
	bottom: 10px;
	padding: 0px 20px;
	left: 0;
}
.item-image{
	max-height: 100px;
}
/*****CONFLICT*****/
