body {	

}
header{
	position: absolute;
	width: 100%;
	max-width: 1440px;
	top: 0;
	left: 0;
	right: 0;
	margin: 39px auto 0; 
}
@font-face {
	font-family: "HelveticaNeueCyr";
	src: url("/fonts/HelveticaNeueCyr-Roman.ttf");
}
@font-face {
	font-family: "HelveticaNeueCyr-Med";
	src: url("/fonts/HelveticaNeueCyr-Medium.ttf");
}
@font-face {
	font-family: "Oswald";
	src: url("/fonts/Oswaldregular.ttf");
}
a:link {text-decoration: none;}
p {margin: 0;}

.lp-0{
	padding-left: 0;
}
.rp-0{
	padding-right: 0;
}

.content{
	padding-top: 55px;
	max-width: 1440px;
	margin: auto;
	background: url('/img/bg/bg_main.png') no-repeat top;
}
.wrap_head_white
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
}

.wrap_head
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 60px;
}

.menu_white
{
	position: relative;
	margin-left: 25px;
	flex-basis: 13%;
	margin-top: -16px;

}
.menu
{
	position: relative;
	margin-left: 24px;
	flex-basis: 13%;
	margin-top: -15px;
}

.menu_white a{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;

}

.menu a{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;

}

.menu_white a::before{
	content: '';
	position: absolute;
	background: url('/img/assets/menu_white.png') no-repeat;
	width: 15px;
	height: 13px;
	left: -25px;
	top: 7px;
}

.menu a::before{
	content: '';
	position: absolute;
	background: url('/img/assets/menu.png') no-repeat;
	width: 15px;
	height: 13px;
	left: -25px;
	top: 7px;
}

.nmb_user_basket_white{
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -10px;
	margin-right: 4px;
}
.nmb_user_basket{
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: -10px;
	margin-right: 4px;

}
.nmb_user_basket_white a{
	margin-left: 30px;
	margin-top: -2.5px;
}
.nmb_user_basket a{
	margin-left: 30px;
	margin-top: -2.5px;
}

.logo{
	padding-top: 16px;
}	
.nmb_user_basket_white>p{
	font-family: HelveticaNeueCyr;
	font-size: 11px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	margin-top: 2px;
}

.nmb_user_basket>p{
	font-family: HelveticaNeueCyr;
	font-size: 11px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
	margin-top: 2px;
}
.logo_white{
	padding-top: 16px;
}	

.content.line_process{
	background: none;
}
#first_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg.png') no-repeat center;
}
.line_process{	
	display: flex;
	align-items: center;
	padding-top:29px;
	padding-left: 85px;
}
.plus{
	display: block;
	max-width: 10px;
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1.3px;
	text-transform: uppercase;
	color: rgb(145,147,149);
	margin: 0 -2px;	
}

#first_plus{
	margin-right: 5px;
}

.plus>div>p{
	width: 150px;
	margin-left: -69px;
	padding-top: 14px;
	color: white;
	opacity: 0.5;
}
.dotes>div>p{
	width: 150px;
	margin-left: -69px;
	color: white;
	opacity: 0.5;
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	text-align: center;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}
.dotes img{
	margin-top: -16px;
}
#first_plus{
	margin-right: 5px;	
}
.line{
	margin-top: -20px;
	margin-left: 5px;
	margin-right: 4px;	
	height: 2px;
	width: 232px;
	background-color: rgb(115,117,122);
}
.line.bigger{
	width: 224px;	
}

#four_div{
	margin-left: -3px;
}


.choose_desk{	
	display: flex;
}
.left_arrow{
	text-align: right;
	margin-right: -18px;
	margin-top: 67px;
}
.name{
	margin-top: 43px;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	color: rgb(145,147,149);
	margin-left: 55px;

}

#name_name{
	font-size: 36px;
	line-height: normal;
	font-weight: none;
	color: white;
	padding-bottom: 5px;
}
#first_constructor .colors{
	margin: 0;
	margin-left: -3px;
	margin-top: 12px;
	display: flex;
}

#first_constructor .colors>div{
	margin-right: 13px;
	border: 1px solid rgba(255,255,255, .2);	
	border-radius: 11px;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

#first_constructor .colors>div>div{
}

#info{
	margin-top: 45px;
	margin-right: 55px;
	color: rgb(145,147,149);	
	position: relative;
}
#info>p{
	margin-top: 13px;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	line-height: normal;
	text-align: right;
}
#info_symbol{
	display: block;
	text-align:right;
	padding-right: 65px;
	padding-top: 2px;
	cursor: pointer;
}
.right_arrow{
	margin-left: -19px;
	margin-top: 67px;
}

.content#button_red_arrow{
	padding:0;
}
#button_red_arrow{	
	margin-top: 30px;
	background: none;
	margin-bottom: 31px;
}

.button_add{
	box-shadow: 0px 10px 40px rgba(217, 31, 67, 0.5);
	cursor: pointer;
	margin-right: -4px;
}
.button_add p{
	padding: 19px 59px;
	background: #D91F43;
	border-radius: 3px;
	cursor: pointer;	
}

.choose_desk{
	display: flex;
	align-items: center;
	cursor: pointer;	
}

.choose_desk *{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #D91F43;
	margin-right: 10px;
}

.choose_desk_left img{
	margin-right: 0px;
}

footer{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto; 
}

#footer{
	background: none;
}
.footer{
	margin-top: 13px;
	background-color: #1C1D26;
}

.footer > .logo_white{
	padding: 0;
	text-align: center;
	padding-top: 82px;
}

.vert_line{
	padding: 0;
	text-align: center;
	padding-top: 41px;
}

.wrap_foot{
	display: flex;
	justify-content: space-between;
	padding-top: 71px;
	padding-bottom: 50px;
}
.telephone{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.email{
	display: flex;
	align-items: center;
	margin-bottom: 67px;
}

.up_sign{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 15px;
}

.down_sign{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: 15px;
	width: 300px;
	opacity: 0.3;
}
.contacts{
	margin-left: 59px;
}

.sign{
	margin-right: 51px;
}

.down-footer{
	display: flex;
	line-height: 116px;
	align-items: center;
	justify-content: space-around;
}

.copyright{
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	opacity: 0.3;
}
.social_sites{
	display: flex;
	justify-content: space-around;
	max-width: 200px;
	width: 193px;
	margin-top: 91px;
}

.email_form>input[type="email"]{
	margin-top:33px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.3);
	outline: none;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	padding: 17px 19px;
	padding-right:132px;
}
.email_form>input[type="image"]{
	margin-left: -48px;
	margin-top:54px;
}
.first_column{
	margin-left: 59px;
	flex-basis: 20.3%;
	flex-direction: column;
}

#second_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg21.png') no-repeat center;
}
#second_constructor .name{
	margin-top:63px;
}

#second_constructor .left_arrow{
	margin-top: 87px;
}

#second_constructor .right_arrow{
	margin-top: 87px;
}
.show-parameters{
	display: none;
	max-width: 250px;
	width: 250px;
	background-color: white;
	position: absolute;
	left:179px;
	top:0;
	padding: 2px 20px;	
	border-radius: 3px;
}

.show-parameters > .description_table{
	margin: 0;
}

#third_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg22.png') no-repeat center;
}

#fourth_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg23.png') no-repeat center;
}

#fifth_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg24.png') no-repeat center;
}

#sixth_constructor{
	padding-top: 110px;
	height: 667px;
	background: url('/img/constructor/bg25.png') no-repeat center;
}

.pd-l-r-48{
	padding-left:48px !important;
	padding-right: 48px  !important;	
}

#footer_catalog{
	background: none;
}

#catalog{
	padding: 0 60px;
	padding-top: 156px;
}

#catalog.content{
	background: linear-gradient(rgba(255,255,255,0) 10%, rgb(255,255,255) 30%),  url('/img/bg/bg_main.png') no-repeat top center;
}

.bread_crumbs{
	display: flex;
	margin-bottom: 26px;

}
.bread_crumbs p{
	font-family: HelveticaNeueCyr;
	font-size: 9px;
	line-height: normal;
	text-transform: capitalize;
	color: #3B4150;
	mix-blend-mode: normal;
	opacity: 0.2;
	margin-right: 9px;
}
.bread_crumbs p:nth-child(odd){
	cursor: pointer;
}
.slash{
	margin-right: 7px;	
}

#catalog h1{
	margin-bottom: 27px;
}

.left-side{
	background: #1C1D26;
	border-radius: 2px;
	margin-right: -10px;
	padding: 29px;	
	width: 300px;
	max-width: 302px;	
	margin-bottom: 19px;
}

.labels{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #576078;
	mix-blend-mode: normal;
}

.radio{
	padding-top: 3px;
	padding-left: 1px;
	margin-bottom: 31px;
}

.helvetica14NoUpCaseWhite{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}

.helvetica14NoUpCaseWhiteOpacity03{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
	opacity: 0.3;
}

.radio label{
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-top: 11px; 
}

.radio input[type="radio"]{
	display: none;
}

.radio label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	border: 1px solid #3B4150;
	box-sizing: border-box;
	border-radius: 34px;
}

.radio input[type=radio]:checked + label:before {
	border: 5px solid #D91F43;
	box-sizing: border-box;
	border-radius: 18px;
}

#polzun>p{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #576078;
	mix-blend-mode: normal;
	margin-bottom: 29px;
}

#price-range{
	margin-top: 19px;
	margin-bottom: 20px;
}
.ui-slider-horizontal .ui-slider-handle{
	top: 0;
	margin: -8px;
	}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 5px;
    height: 5px;
    background: url('/img/catalog/polzun.png') 50% 50% no-repeat;
    cursor: pointer;
    padding: 5.5px;
    border: 3px solid #D91F43;
	box-sizing: border-box;
	border-radius: 18px;
}

.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.ui-slider .ui-slider-range {
    position: relative;
    z-index: 1;
    border: 0;
    background-position: 0 0;
}

.ui-widget-header {
    background: #D91F43;
    margin-top: 10px;
	background-color: red;	
	height: 1px;
}

.ui-widget-content {
    background: #576078;
}

.ui-slider-horizontal {
    height: 1px;
}

.ui-slider {
    position: relative;
}

.ui-slider-handle.ui-corner-all.ui-state-default{
	outline: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default p{
	margin-top: 16px;
	margin-left: -19px;
}

#choose_colors{
	display: inline-flex;
	margin-bottom: 34px;
	margin-top: 6px; 
}

#choose_colors>div div{
	width:20px;
	height: 20px;
	border-radius: 21px;
	cursor: pointer;
}

#choose_colors>div{
	margin-right: 5px;
	width:30px;
	height: 30px;
	border-radius: 60px;
	border: 1px solid rgba(255,255,255, .2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.active{
	border: 1px solid rgba(255,255,255, 1) !important;
}
#choose_colors>div:first-child{
	margin-left: -4px;
}

#choose_colors div:nth-child(1) div{
	background-color: #44454D;
}
#choose_colors div:nth-child(2) div{
	background-color: #60667B;
}
#choose_colors div:nth-child(3) div{
	background-color: white;
}
#choose_colors div:nth-child(4) div{
	background-color: #7E564E;;
}
#choose_colors div:nth-child(5) div{
	background-color: black;
}

p.labels {
	margin-top: 70px;
	margin-bottom: 9px;
}

.advanced_parameters{
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#back_to_constructor{
	background: #1C1D26;
	border-radius: 2px;
	margin-right: -10px;
	padding: 13px 29px;	
	width: 300px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.view-and-sort{
	display: flex;
	justify-content: space-between;
	margin-top: -2px;
	border-bottom: 1px solid #EEF0F5;
	margin-bottom: 40px;
	margin-top: -2px;
}

.view{
	display: flex;
	padding-left: 10px;
}
.sort{
	display: flex;
	padding-right: 2px;
}
.view div, .sort div{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
	opacity: 0.3;
	cursor: pointer;
	padding-bottom: 18px;
}
#viewing, #sorting{
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.view div:not(:first-child):hover, .sort div:not(:first-child):hover{
	opacity: 1;
	margin-top: -1px; 
	border-bottom: 1px solid #3B4150;
}
.view div:not(:first-child){
	margin-right: 9px;
	width: 20px;
	text-align: center;
}
.view div:first-child{
	margin-right: 15px;
}
.sort div{
	margin-left: 22px;
}

.items{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-right: 7px;
	padding-left: 9px;
	margin-bottom: 27px; 
}
.item{
	width: 300px;
	height: 300px;	
	border-radius: 2px;
	margin-bottom: 40px;
	margin-right: -5px;
}
.item-image{
	display: flex;
	justify-content: center;
}
.item>div{
	margin-top: 45px;
}
.river{
	background: linear-gradient(180deg, #F5F3F0 0%, #DED8D0 100%);
}

.duolake{
	background: linear-gradient(180deg, #F6F7FA 0%, #EEF0F5 100%);
}

.gulf{
	background: linear-gradient(180deg, #F0F2F6 0%, #CFD7E0 100%);
}

.sea{
	background: linear-gradient(180deg, rgba(236, 236, 236, 0.3) 0%, #DBDBDB 100%);
}

.stream{
	background: linear-gradient(180deg, rgba(217, 217, 217, 0.3) 0%, #DFD8D7 100%);
}

.gulf-and-creek{
	background: linear-gradient(180deg, rgba(226, 239, 240, 0.3) 0%, #E2EFF0 100%);
}

.model-and-cost{
	display: flex;
	justify-content: space-between;	
	margin-top: 5%;
	max-width: 240px; 
	margin-left: auto;
	margin-right: auto;
}

.model-and-cost div p:first-child{
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
	opacity: 0.5;
	margin-bottom: 6px;
}

.model-and-cost div p:last-child{
	font-family: HelveticaNeueCyr;
	font-size: 22px;
	line-height: normal;
	color: #3B4150;	
}

.helvetica10UpCaseWhite{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;
}
.show{
	padding: 19px 64px;
	background-color: #D91F43;
	box-shadow: 0px 10px 40px rgba(217, 31, 67, 0.5);
	margin: auto;
}

#footer_item-card{
	background: none;
}

#item-card{
	padding: 0 60px;
	padding-top: 156px;
}

#item-card h1{
	margin: 0;
}
#item-card.content{
	background: linear-gradient(rgba(255,255,255,0) 4%, rgb(255,255,255) 20%),  url('/img/bg/bg_main.png') no-repeat top center;
}

.pd-r-40{
	padding-right: 40px;
}

.pd-l-60{
	padding-left: 60px;
}

.mg-b-165{
	margin-bottom: 165px; 
}

.mg-b-18{
	margin-bottom: 18px;
}

.mg-b-51{
	margin-bottom: 51px;
}
.mg-l-10{
	margin-left: 10px;
}
.mg-l-20{
	margin-left: 20px;
}
.mg-l-30{
	margin-left: 30px;
}

.mg-l-10 img{
	margin-top: -54px;
}



.helvetica14LineHeight24NoUpCaseBlack{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 24px;
	color: #3B4150;
}

.left-picture{
	margin-bottom: 63px;
	padding-top: 9px;
}

.left-picture p{            
	margin-top: 12px;
	margin-left: 31px;
}

.share, .buttons{
	display: flex;
	align-items: center;
}

.share *, .buttons div a{
	width: 40px;
	height: 40px;
	border-radius:21px; 
}

.hide{
	opacity: 0;
}	

.share a{
	position: absolute;
	left: 88px;
}

.share{
	position: relative;
}

#telegram{
	background: #36ADE1 url("/img/item-card/telegram.png") 50% 50% no-repeat;
}

#whatsapp{
	background: #00E676 url("/img/item-card/whatsapp.png") 50% 50% no-repeat;
}

#messenger{
	background: #2196F3 url("/img/item-card/messenger.png") 50% 50% no-repeat;
}

#vkontakte{
	background: #5181B8 url("/img/item-card/vk.png") 50% 50% no-repeat;
}

#instagram{
	background: radial-gradient(24.78px at 29.04% 99.59%, #FDDB86 0%, rgba(240, 105, 66, 0) 100%), radial-gradient(32.14px at 31.72% 92.92%, #FFAD05 0%, rgba(255, 63, 0, 0) 100%), linear-gradient(159.86deg, #4263DF 5.92%, rgba(213, 53, 133, 0) 77.32%), #E11B7E url("/img/item-card/instagram.png") 50% 50% no-repeat;
}

.button-share{
	position: relative;
	mix-blend-mode: normal;
	cursor: pointer;
	z-index: 3;
}

.button-share img[src="/img/item-card/share_red.png"]{
	display: none;
}

.share p{
	width: auto;
	height: auto;
	margin-right: 10px;
}

.helvetica10UpCaseBDBDBD{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #BDBDBD;
	mix-blend-mode: normal;
}

.helvetica10UpCaseBlack{
	font-family: HelveticaNeueCyr;
	font-size: 10px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
}

.helvetica14NoUpCaseBlack{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #3B4150;
}

.helvetica14NoUpCaseBlackNorm{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: normal;
	color: #3B4150;
}

.helvetica16NoUpCaseBlack{
	font-family: HelveticaNeueCyr;
	font-size: 16px;
	line-height: normal;
	color: #180607;
}

.helvetica24NoUpCaseBlack{
	font-family: HelveticaNeueCyr;
	font-size: 24px;
	line-height: normal;
	color: #190708;
}

.helvetica14NoUpCaseRed{
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	line-height: 14px;
	color: #D91F43;
}
img[src="/img/item-card/left_arrow_black.png"], img[src="/img/item-card/right_arrow_black.png"]{
	margin-top: -17px;
	cursor: pointer;
} 
.w-160{
	max-width: 160px;
}
.colors{
	margin: 25px 0;	
}
.colors>div{
	border: none;
	background: none;
	width:22px;
	height:22px;
	border: 1px solid rgba(59, 65, 80, .1);
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.colors div{
	margin: 0;
}

.left-arrow-item-card{
	position: absolute;
	left: 137px;
}
.right-arrow-item-card{
	position: absolute;
	right:139px;
}
.colors>div>div{
	width:16px;
	height:16px;
	border-radius: 17px;
}
.colors>div:nth-child(1)>div{
	background: #44454D;
}
.colors>div:nth-child(2)>div{
	background: #60667B;
}
.colors>div:nth-child(3)>div{
	background: white;
}
.colors>div:nth-child(4)>div{
	background: #7E564E;
}
.colors>div:nth-child(5)>div{
	background: black;
}

.number-of-items{
	width: 50px;
	height: 50px;
	mix-blend-mode: normal;
	border: 1px solid #70727D;
	box-sizing: border-box;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-to-basket{
	box-shadow: 0px 10px 40px rgba(217, 31, 67, 0.5);
}
.add-to-basket p{
	padding: 19px 45px;
	background: #D91F43;
	border-radius: 3px;
	cursor: pointer;
}

.pd-l-60{
	padding-left: 60px;
}
.pd-r-60{
	padding-right: 60px;
}
.pd-t-32{
	padding-top: 32px;
}

.mg-b-10{
	margin-bottom: 10px;
}

.mg-t-27{
	margin-top: 27px;
}
.pd-b-113{
	padding-bottom:113px;
}

.mg-t--15{
	margin-top: -15px;
}
.mg-t-11{
	margin-top: 11px;
}
.mg-b-139{
	margin-bottom: 139px;
}
.cost-center{
	margin-top: 26px; 
	margin-bottom: 11px;
}
.number-and-basket{
	margin-top: 28px;
}
.number-of-items{
	margin-right: 10px; 
}

.right-picture{
	text-align: right;
	margin-bottom: 62px;
	padding-top: 9px;
}

.right-picture p{
	margin-top: 12px;
	margin-right: 21px; 
}

#life-buoy>img:nth-child(2), #credit-card>img:nth-child(2), #package>img:nth-child(2), #refresh>img:nth-child(2), #shield>img:nth-child(2){
	display: none;
}

.description_table{
	margin-bottom: 114px;
}
.description_table div{
	display: flex;
	justify-content: space-between;
	padding: 16px 0;
	border-bottom: 1px solid #DADEE5;
}
.description_table div:last-child{
	border-bottom: none;
}

.buttons{
	justify-content: space-between;
}

.buttons div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.first-block-item-card{
	margin-bottom: 53px;
}
.info-and-buttons>p{
	margin-bottom: 32px;
}

.fotorama__nav__frame{
	padding: 0px !important; /*убрать любые отступы у thumbs (миниатюр)*/
}

.fotorama__nav__frame.fotorama__active div{ 
    width: 146.67px; height: 146.67px; border: solid 2px #D91F43; /*неанимированная рамка. можно навесить анимацию, стоит ровно на слайде*/
} 
.fotorama__thumb-border{   /*анимированная рамка сдвинутая почему-то, надо разбираться*/
	display: none;
}
.fotorama{
	margin-bottom: 55px;
}
.label-advanced{
	margin-bottom: 35px;
}
.oswald36NoUpCaseBlack{
	font-family: Oswald;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	color: #3B4150;
}
.helvetica12UpCaseBlackHalfOpacity{
	font-family: HelveticaNeueCyr;
	font-size: 12px;
	line-height: normal;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	mix-blend-mode: normal;
	opacity: 0.5;
	color: #3B4150;
}

.advanced-items>div div{
	background: linear-gradient(180deg, #F0F3F5 0%, #CFD7E0 100%);
	border-radius: 6px;
	height: 400px;
	width: 300px;
	padding-top: 38px;
	cursor: pointer;
}

.advanced-items{
	margin-bottom: 47px;
}

.advanced-items>div:nth-child(2) img{
	margin-top: -23px;
	margin-left: 11px;
}

.advanced-items>div:nth-child(3) img{
	margin-top: -52px;
}


.mg-l-20 img:nth-child(2){
	position: relative;
	z-index: 2;
	margin-left: 77px;
	margin-top: 72px;
}

.mg-l-20 img:nth-child(3){
	margin-left: 25px;
	margin-top: -19px;
}

.mg-l-30 img:nth-child(2){
	margin-left: -2px;
	margin-top: 42px;
}


.basket{
	display: none;	
	background: #FFF;
	position: absolute;
	top: 10px;
	z-index: 5;
	width: 330px;
	right:50px;
	border-radius: 6px;

}

.helvetica8UpCaseBlackOpacity03{
	font-family: HelveticaNeueCyr;
	font-size: 8px;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #3B4150;
	mix-blend-mode: normal;
	opacity: 0.3;
}

.close-button{
	cursor: pointer;
	display: inline-block;
	margin-top: -18px;
}
.basket-item{
	margin: 0 20px;
	margin-top: 13px;
}
.basket-item-header{
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
	margin-bottom: 22px;
}

.basket-item-header p{
	max-width: 170px;
	width: 170px;
}

.cost-number-total{
	display: flex;
	justify-content: space-between;
}

.number-basket>div{
	display: flex;
	justify-content: space-between;
	margin-top: 8px;
	align-items: center;
}
.number-basket>div>p{
	padding: 7px 11px;
	border: 1px solid #EEF0F5;
	box-sizing: border-box;
	border-radius: 1px;
}

.number-basket>div>div:not(p){
	cursor:pointer;
}

.cost-basket p:nth-child(2), .total p:nth-child(2){
	margin-top: 13px;
}

.basket-item:not(:first-child){
	border-top: 1px solid #EEF0F5;
}

.basket-item:nth-child(2){
	margin-bottom: 20px;
}

.go-to-basket{
	height: 56px;
	background: #3B4150;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	cursor: pointer;
}

.go-to-basket p{
	margin-left: -25px;
	position: relative;
}
.go-to-basket p:after{
	content: "";
	position: absolute;
	width: 15px;
	height: 15px;
	left: 133px;
	top: -2px;
	background: url('/img/global/shopping-bag.png') no-repeat;
}


